body{
    background: #151515;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.card {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	clip-path: inset(10em);
	filter: blur(30px);
	display: flex;
	justify-content: center;
	align-items: center;
  }