*{
    background-image: url('assets/sam-wermut-FiUuNWxnb3k-unsplash.jpg');
    background-repeat: no-repeat;
    background-color: #cccc;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}