*{
    background-image: url('assets/sam-wermut-FiUuNWxnb3k-unsplash.jpg');
    background-repeat: no-repeat;
    background-color: #cccc;
}

.card{

    width: 250px;
	height: 450px;
	background: linear-gradient(150deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
	box-shadow: rgb(255 255 255 / 30%) 0px 0px 0px 0.5px inset;
	border-radius: 20px;
	backdrop-filter: blur(25px);
}